/* Styles for the header section */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9F2F9;
    padding: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #023046;
    background-color: #2D6DC2;
}

.name {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
    color: #023046;
}

.skills {
    font-size: 1rem;
    text-align: center;
    color: #023046;
    margin-bottom: 10px;
}

/* Media query for mobile */
@media (max-width: 480px) {
    .header {
        padding: 10px;
    }
    
    .name {
        font-size: 1.25rem;
        margin: 5px 0;
    }

    .skills {
        font-size: 0.9rem;
    }
}
#main-content {
  width: 100%; /* Adjust this value to 100% */
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1200px; /* Adjust this value to control the width */
  margin: 0 auto;
}

h1, h2, h3 {
  color: #023046;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#about, #experience, #projects, #talks, #publications {
  padding: 20px;
}

/* Additional styles and customizations here */
/* Styles for the popup */
/* Your other styles here */

/* Popup styles */
/* Popup styles */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure popup is on top of other content */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative; /* Required for sticky close button */
}

/* Close button styles */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .popup-content {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 480px) {
    .popup-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 0;
        overflow-y: scroll;
    }

    .close-button {
        position: sticky;
        top: 10px;
        right: 10px;
        z-index: 999; /* Ensure close button is above popup content */
    }
}
