body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #023046;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#about, #experience, #projects, #talks, #publications {
  padding: 20px;
}

/* Additional styles and customizations here */
